
.main {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
}

.main .main__categories {
  width: 30%;
}

.main .main__products {
  width: 69%;
  background: #77B777;
  min-height: 80dvh;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
